comp.compf
comp2.compf
bin/net/falscherIdiot/FileCompression/test.txt
src/net/falscherIdiot/FileCompression/test.txt
bin/net/falscherIdiot/FileCompression/Temp.class
bin/net/falscherIdiot/FileCompression/FileHandler.class
src/net/falscherIdiot/FileCompression/FileHandler.java
src/net/falscherIdiot/FileCompression/Temp.java
